apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-frontend
spec:
  template:
    spec:
      volumes:
        - name: proxy-nginx-conf
          configMap:
            name: app-frontend-proxy-nginx
            items:
              - key: nginx.conf
                path: nginx.conf
      containers:
        - name: app-frontend-proxy
          image: nginx:alpine
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: proxy-nginx-conf
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 2
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10